<form action="<%= submitPath %>?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data">
  <div class="input-form">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" required value="<%= product.title %>">
  </div>

  <div class="input-form">
    <label for="image">Image</label>
    <input type="file" id="image" name="image" accept="image/png,image/jpg" <% if (imageRequired) { %> required <% } %>>
  </div>

  <div class="input-form">
    <label for="summary">Summary</label>
    <input type="text" id="summary" name="summary" required maxlength="250" value="<%= product.summary %>">
  </div>

  <div class="input-form">
    <label for="price">Price</label>
    <input type="number" id="price" name="price" min="10000" step="1000" required value="<%= product.price %>">
  </div>

  <div class="input-form">
    <label for="description">Description</label>
    <textarea id="description" name="description" rows="7" required><%= product.description %></textarea>
  </div>

  <div class="input-form">
    <button type="reset" class="btn btn-alt">Reset</button>
    <button class="btn">Save</button>
  </div>
</form>