<form action="<%= submitUtl %>">
  <% if (hasError) { %>
  <p id="input-error">
    <%= errorMessage %>
  </p>
  <% } %>
  <input type="hidden" value="<%= csrfToken %>" name="_csrf">
  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="<%= title %>" required>
  </div>
  <div class="form-control">
    <label for="contet">Content</label>
    <input type="text" id="content" name="contet" value="<%= content %>" required>
  </div>
</form>